body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h3, h3 {
    font-family: 'Archivo Narrow', sans-serif;
    color: black;
    text-align: center;
}

.title {
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 5px solid black;
    border-radius: 20px;
    font-size: 30px;
}

#restartButton:hover {
    background-color: white;
}

#scoreboard {
    margin: 0px;
    font-size: 40px;
}